<%= form_for(@tool, url: admin_tools_path(@tool)) do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %>

  <p><%= f.label :price %>
  <%= f.text_field :price %>

  <p><%= f.label :quantity %>
  <%= f.text_field :quantity %>

  <p>
    <%= f.select(:category_id, Category.all.collect{|f| [ "#{f.name}", f.id]}) %>
  </p>
  <p><%= f.submit %>
<% end %>
